@font-face{
	font-family:"Eurostile W01 Regular";
	src:url("../fonts/bdeb0954-a29d-41df-bd63-b1eb58201b11.eot?#iefix");
	src:url("../fonts/bdeb0954-a29d-41df-bd63-b1eb58201b11.eot?#iefix") format("eot"),
	url("../fonts/0f080d11-c06f-4560-b641-1227c613ba3c.woff2") format("woff2"),
	url("../fonts/889bdee1-8c94-46f0-9aa3-18470143c3ff.woff") format("woff"),
	url("../fonts/595cfe27-f15d-4a60-a589-c727a09e2bd8.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family:"Eurostile W01 Bold";
	src:url("../fonts/6d228214-6287-48d1-a0d9-eca054e54ad7.eot?#iefix");
	src:url("../fonts/6d228214-6287-48d1-a0d9-eca054e54ad7.eot?#iefix") format("eot"),
	url("../fonts/983fe1e0-7b09-45ef-8c60-a3d86a9ade33.woff2") format("woff2"),
	url("../fonts/4b5e0094-4fa5-40c0-813c-f8ac69e53416.woff") format("woff"),
	url("../fonts/1571bf47-258a-49c3-8452-02dcde85b19c.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family:"Eurostile W01 Medium";
	src:url("../fonts/e6f194c3-a942-4cad-a50c-336c34b5757d.eot?#iefix");
	src:url("../fonts/e6f194c3-a942-4cad-a50c-336c34b5757d.eot?#iefix") format("eot"),
	url("../fonts/885b858e-49d2-444f-8601-84f97a97f146.woff2") format("woff2"),
	url("../fonts/5db90921-f137-4575-9e44-e79fd30620e7.woff") format("woff"),
	url("../fonts/c0a257d0-a0de-4c3f-8997-33e72b32217c.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
.f-regular {
	font-family: 'Eurostile W01 Regular', sans-serif;
}
.f-bold {
	font-family: 'Eurostile W01 Bold', sans-serif;
}
.f-medium {
	font-family: 'Eurostile W01 Medium', sans-serif;
}